@using Brocoleendo.ViewModel
@model ProducaoViewModel

@if (Model.AcaoQuadrantes.Count > 0)
{
    <div>
        <h4 class="centered">Atividades realizadas</h4>
    </div>
    <div>
        <table class="table table-condensed">
            <tr>
                <th>Ação</th>
                <th>Data/Hora</th>
                <th>Funcionario</th>
                <th>Material usado</th>
            </tr>
            @foreach (var item in Model.AcaoQuadrantes)
            {
                <tr>
                    <th>@item.DS_ACAO</th>
                    <th>@item.DT_ACAO</th>
                    <th>@item.NOME_FUNC</th>
                    <th>@item.DS_MATERIAL</th>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <a id="plusAcao" class="btn btn-primary butn"> <i class="fa fa-plus"></i> </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
            <a id="finishProducao" class="btn btn-success butn"> <i class="fa fa-check"></i> </a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <a id="plusProducao" data-quadrante="@ViewData["Message"]" data-idQuadrante="@Convert.ToInt32(ViewData["ID"])" class="btn btn-success butn"> <i class="fa fa-plus"></i> </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <select id="ProdutoSelecionadoID" class="form-control butn">
                @foreach (var produto in Model.Produtos)
                {
                    <option value="@produto.ID_PRODUTO">@produto.DS_PRODUTO</option>
                }
            </select>
        </div>
    </div>
}
